body{background-color:#ffebcd;font-family:sans-serif;margin:auto;max-width:1280px}nav{background-color:#313236;border-radius:2px;max-width:800px}nav a{color:#aaa;display:inline-block;font-size:15px;padding:10px;text-decoration:none}nav a:hover{color:#fff}.error{color:red}h2{color:green}.mono{font-family:Courier New,Courier,monospace}fieldset{margin:1em}body{margin:1em 3em}
/*# sourceMappingURL=index.cf8b7253.css.map */
