body{background-color:#ffebcd;font-family:sans-serif;margin:auto;max-width:1280px}.navbar{background-color:#313236;border-radius:2px;max-width:800px}.navbar a{color:#aaa;display:inline-block;font-size:15px;padding:10px;text-decoration:none}.navbar a:hover{color:#fff}h2{color:green}.mono{font-family:Courier New,Courier,monospace}fieldset{margin:1em}body{margin:1em 3em}
/*# sourceMappingURL=index.ff1618c7.css.map */
